{% load static %} 

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
          backgroundImage: {
            space: url('{% static "home/background.webp" %}'),
          },
        },
      };
    </script>
    <style>
      #images,
      #images h1,
      #images p,
      #images button {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }

      @keyframes floating {
        0% {
          transform: translateY(0px);
        }
        50% {
          transform: translateY(15px);
        }
        100% {
          transform: translateY(-0px);
        }
      }
    </style>
  </head>
  <body class="bg-[url('{% static 'home/background.webp' %}')] overflow-x-hidden w-[100vw]">
    <nav
      class="flex justify-between p-2 px-12 bg-transparent sticky w-[100%]"
      id="navbar"
      style="transition: all ease 3s"
    >
      <div>
        <img
          class="h-16 w-22 inline-block"
          src="{% static 'home/logo.png' %}"
          alt="Logo"
        />
        <h1
          class="inline-flex"
          style="
            margin-left: 20px;
            width: 200px;
            font-size: 25px;
            background-image: linear-gradient(
              269.88deg,
              #14345a,
              #61d9de,
              #e51e47
            );
            font-weight: 700;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          "
        >
          HomeCare.ai
        </h1>
      </div>

      <div class="flex items-center">
        <ul class="flex items-center gap-x-3 text-xl text-[#fff] font-bold">
          <li class="hover:text-[#e51e47] hover:cursor-pointer opacity-100">
            <a href="{% url 'know-your-disease' %}">Know Your disease</a>
          </li>
          <li class="hover:text-[#e51e47] hover:cursor-pointer">
            <a href="/appointment/register">Book Appointment</a>
          </li>
          <li class="hover:text-[#e51e47] hover:cursor-pointer">
            <a href="/lab-tests/">Lab Test</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="flex justify-center my-8 px-10 mx-10">
      <div
        id="images"
        class="opacity-80 relative h-[80vh] w-[75vw] rounded-lg"
        style="
          background: linear-gradient(86deg, #353535, #353535);
          box-shadow: 0px 0px 8px rgb(0 114 255 / 35%),
            0px 10px 52px rgb(124 23 98 / 35%);
        "
      >
        <img class="w-[100%] h-[100%] rounded-xl" src="{% static 'home/latest.jpg' %}" />
        <h1
          class="absolute text-7xl top-[38%] left-[30%] font-bold font-mono text-[#e51e47]"
        >
          HomeCare.ai
        </h1>
        <p
          class="absolute w-[100%] text-3xl top-[60%] left-[10%] font-bold font-mono text-[#e51e47]"
        >
          We believe everyone should have access to great Healthcare
        </p>
        <a href="{% url 'get-started' %}">
          <button
            class="p-4 absolute top-[70%] left-[45%] bg-[#e51e47] rounded-md border-4 border-transparent text-white font-bold text-2xl hover:bg-transparent hover:border-4 hover:border-[#e51e47]"
          >
            Let's Start
          </button>
        </a>
      </div>
    </div>
  </body>
  <script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar").style.top = "0";
      } else {
        document.getElementById("navbar").style.top = "-150px";
      }
      prevScrollpos = currentScrollPos;
    };
  </script>
</html>
<!-- 
background: linear-gradient(86deg,#353535,#353535),url(image.png); box-shadow:
0px 0px 8px rgb(0 114 255 / 35%), 0px 10px 52px rgb(124 23 98 / 35%); -->
